* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ====================== Container ========================== */

.container {
    max-width: 450px;
    width: 100%;
    margin: 2rem auto;
    border: 1px dashed gray;
}

/* ====================== / Container ========================== */



/* ====================== Header ========================== */

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
}

.header--dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(65, 65, 65);
}

.header--light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

/* ====================== / Header ========================== */



/* ====================== Theme Switcher ========================== */

.switcher {
    width: 35px;
    margin: 0 2rem;
}

/* ====================== / Theme Switcher ========================== */



/* ====================== Window ========================== */

.window {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding: 1rem;
}

.window--dark {
    background-color: rgb(65, 65, 65);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.window--light {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.window__main-text {
    font-size: 4rem;
    font-weight: 600;
}

.window__secondary-text {
    font-size: 1.5rem;
}

.window__main-text--dark {
    color: rgb(245, 245, 245);
}

.window__main-text--light {
    color: black;
}

.window__secondary-text--dark {
    color: rgb(225, 225, 225);
}

.window__secondary-text--light {
    color: rgb(50, 50, 50);
}

/* ====================== / Window ========================== */



/* ====================== Keyboard ========================== */

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: aqua;
}

.keyboard--dark {
    background-color: rgb(65, 65, 65);
}

.keyboard--light {
    background-color: rgb(255, 255, 255);
}

.keyboard__item {
    max-width: 90px;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.keyboard__item--dark {
    color: rgb(255, 255, 255)
}

.keyboard__item--light {
    color: rgb(138, 138, 138)
}

.keyboard__item--dark:hover {
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.keyboard__item--light:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.keyboard__main-item--dark {
    color: rgb(255, 255, 255);
    background-color: rgb(174, 174, 174);
    border-radius: 50%;
}

.keyboard__main-item--light {
    color: rgb(0, 0, 0);
}

.keyboard__main-item--light:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.keyboard__main-item--dark:hover {
    background-color: rgb(164, 164, 164);
}

.keyboard__math__signs {
    color: rgb(61, 221, 154);
    background-color: white;
}

.keyboard__math__signs--dark {
    border-radius: 50%;
}

.keyboard__math__signs--dark:hover {
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}

.keyboard__math__signs--light:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

/* ====================== / Keyboard ========================== */